.tabella {
	border-collapse: collapse;
	border-spacing: 0;
	width: -moz-available;
	width: -webkit-fill-available;
}

.tabella td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tabella input{
	width: -moz-available;
	width: -webkit-fill-available;
	text-align: center;
}

.tabella label,
textarea {
	font-size: .8rem;
	letter-spacing: 1px;
}

.tabella textarea {
	line-height: 1.5;
	box-shadow: 1px 1px 1px #999;
	max-width: -webkit-fill-available;
	min-width: -webkit-fill-available;
	min-height: 120px;
}

.tabella label {
	display: block;
	margin-bottom: 10px;
}

.tabella th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}

.tabella .tg-l93j {
	border-color: inherit;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	vertical-align: top
}

.tabella .tg-c3ow {
	border-color: inherit;
	text-align: center;
	vertical-align: top
}

.tabella .tg-0pky {
	border-color: inherit;
	text-align: left;
	vertical-align: top
}

 #overlay {
	 position: fixed;
	 display: none;
	 width: 100%;
	 height: 100%;
	 top: 0;
	 left: 0;
	 right: 0;
	 bottom: 0;
	 background-color: rgba(0,0,0,0.5);
	 z-index: 2;
 }

#overlay1 {
	position: fixed;
	z-index: 9999;
	width: 95%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: #f7f7f7;
	-webkit-box-shadow: 0px 0px 18px 0px rgb(0 0 0);
	-moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,1);
	box-shadow: 0px 0px 18px 0px rgb(0 0 0);
	border-radius: 15px;
	padding-bottom: 30px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	max-height: 90%;
	overflow-y: scroll;
}

.pop-x {
	text-align: center;
	padding: 10px 15px;
	font-size: 30px;
	font-weight: 100;
	line-height: 25px;
	color: #f7f7f7;
	background: #4eb84e;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 20px;
	width: -moz-available;
	width: -webkit-fill-available;
}

.buttonnosave {
	text-align: center;
	padding: 10px 15px;
	font-size: 23px;
	font-weight: 100;
	line-height: 25px;
	color: #f7f7f7;
	background: #7c7c7c;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 20px;
	width: -moz-available;
	width: -webkit-fill-available;
}

.buttonremove {
	text-align: center;
	padding: 10px 15px;
	font-size: 23px;
	font-weight: 100;
	line-height: 25px;
	color: #f7f7f7;
	background: #e41919;
	cursor: pointer;
	border-radius: 10px;
	margin-top: 20px;
	width: -moz-available;
	width: -webkit-fill-available;
}

.btn{
	cursor: pointer;
	border-radius: 6px;
}

.btnup{
	cursor: pointer;
	border-radius: 6px;
}

.btndown{
	cursor: pointer;
	border-radius: 6px;
}

.plusbutton {
	text-align: center;
	font-size: 30px;
	font-weight: 100;
	line-height: 25px;
	color: #f7f7f7;
	background: #7c7c7c;
	cursor: pointer;
	border-radius: 10px;
	margin: 1px;
}

.rowinline{
	display: flex;
}

.arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

select.patht {
	display: flow-root;
}

.tablepath {
	width: -moz-available;
	width: -webkit-fill-available;
}

.tableparams {
	width: -moz-available;
	width: -webkit-fill-available;
}